@import "tailwindcss";

html,
body {
  all: unset; /* Resets all styles */
}

.customScrollbar::-webkit-scrollbar {
  width: 13px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #72727220;
  border-radius: 10px;
  border: 3px solid #fff;
  transition: background-color 200ms ease;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #72727240;
}
